.portfolio-section {
    padding: 30px;
    border-radius: 10px; /* Adding curved borders */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
}

.portfolio-section h2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    width: 100%; /* Ensure full width */
    text-align: center; /* Center heading text */
}

.portfolio-section iframe {
    display: block;
    height: 290px;
    margin: 0 10px 20px 0; /* Add margin to each iframe */
    border-radius: 10px; /* Adding curved borders */
    flex: 1 1 calc(50% - 20px); /* Each video takes 50% width with space between them */
}

.portfolio-section iframe:last-child {
    margin-right: 0; /* Remove right margin from last iframe to prevent overflow */
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    .portfolio-section iframe {
    flex: none; /* Disable flex for mobile screens */
    width: 100%; /* Make videos take full width */
    height: 180px;
    }
}

.btn {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }



