.small-text {
    font-size: 14px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .skill {
    margin-bottom: 20px;
  }
  
  .right-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }  
  
  .left-box {

    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  

  .h2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    width: 100%; /* Ensure full width */
    text-align: center; /* Center heading text */
}